/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Inner section per component*/
.section {
  margin: 2em;
}

/* Space between items on auto */
.example-spacer {
  flex: 1 1 auto;
}

/* Global margin */
.mat-form-field {
  margin: 0.5em;
}

/* Wrapper voor loading animation */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
