<h2>Please select the user</h2>
<div *ngIf="done">
  <ul *ngIf="users">
    <li *ngFor="let user of users">
      <a *ngIf="user" [routerLink]="['/playlists/' + user.id]">
        {{ user.lastName }} {{ user.firstName }}
      </a>
    </li>
  </ul>
  <form [formGroup]="addform" (ngSubmit)="newUser()">
    <div class="formgroup">
      <label for="firstName">First name</label>
      <input type="text" formControlName="firstName" required placeholder="" />
    </div>
    <div class="formgroup">
      <label for="lastName">Last name</label>
      <input type="text" formControlName="lastName" required placeholder="" />
    </div>
    <div class="formgroup">
      <label for="dayOfBirth">Date of birth</label>
      <input type="datetime-local" formControlName="dayOfBirth" required />
    </div>
    <button type="submit" [disabled]="addform.invalid || !addform.touched">
      Add user
    </button>
  </form>
</div>
