<section class="section">
  <!-- 
    Still loading 
  -->
  <div *ngIf="!done && !fetcherror" class="wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <!-- 
    Done loading but fetch error 
  -->
  <div *ngIf="done && fetcherror" class="wrapper">
    <h2>Something went wrong while fetching the available users</h2>
    <button
      mat-flat-button
      color="primary"
      class="button-retry"
      (click)="retry()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
  <!-- 
    Done loading and everything ok
  -->
  <div *ngIf="done && !fetcherror">
    <h2>Please select the user :)</h2>
    <mat-list *ngIf="users && users.length > 0" class="list">
      <a
        mat-list-item
        class="list-item"
        role="listitem"
        *ngFor="let user of users"
        [routerLink]="['/playlists/' + user.id]"
      >
        {{ user.lastName }}
        {{ user.firstName }}
        ({{ showOnlyDateFromDatetime(user.dayOfBirth) }})
      </a>
    </mat-list>
    <div *ngIf="users && users.length == 0">
      <p>No users available :(</p>
    </div>
    <h2>Or make a new playlist</h2>
    <button mat-raised-button color="primary" (click)="openAddplaylistDialog()">
      Add playlist
    </button>
  </div>
</section>
